.like-button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #E5E5E5;
}

.sr-only {
    /* display: none; 을 쓰면 스크린리더도 무시하게 된다 */
    position: absolute;
    z-index: -100;
    width: 1px;
    height: 1px;
    /* width나 height가 0px이면 스크린리더가 무시하기 때문에 반드시 1px이상 이여야 한다. */
    overflow: hidden;
    opacity: 0;
}
/* sr-only 안에 있는 코드들은 스크린 리더에서는 읽히나 웹에는 드러나지 않도록 하기 위한 작업이다. */

.card {
    display: flex;
    flex-direction: row;
    width: 840px;
    padding: 24px;
    background-color: white;
}

.card-image {
    position: relative;
    width: 300px;
    height: 200px;
    margin-right: 24px;
    border-radius: 6px;
    background-image: url(./assets/img-house.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-image button {
    width: 36px;
    height: 36px;
    background-image: url("./assets/icon-favorite.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 24px;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 12px;
    border: none;
    cursor: pointer;
}

.card-content {
    flex-grow: 1;
    /* flex 박스의 남은 공간을 card content가 채우게 함. */
}

.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.plus-badge {
    display: inline-block;
    border-radius: 4px;
    background-color: #92174D;
    color:white;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 1px 8px;
    margin-right: 6px;
    text-transform: uppercase;    
}

.property-type span {
    font-size: 16px;
    line-height: 20px;
    color: #7D858F;
}

.property-rate {
    font-size: 16px;
    line-height: 20px;
}

.property-rate strong {
    color: #151B26;
    font-weight: 400;
}

.property-rate span {
    color: #7D858F;
}

.property-rate::before {
    position: relative;
    /* 레이아웃을 망치지 않으면서 별 이미지를 살짝 조절하기 위함. */
    top: 2px;
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("./assets/icon-star.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.card-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #151B26;
    margin-bottom: 16px;
}

.property-detail {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #7D858F;
}

.property-detail dd span::after {
    position: relative;
    bottom: 3px;
    content: " .";
    margin: 0px 2px;
}

.property-detail dd span:last-child::after {
    content: "";
    margin: 0;
}

.property-detail div:first-child {
    margin-bottom: 8px;
}