* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
}

/* Reset Css */

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

button:focus,
button:active,
textarea:focus,
textarea:active,
input:focus,
input:active {
    outline: none;
    box-shadow: none;
    /* 요소들을 클릭했을때 포커싱 되는 css를 없애준다. */
}

ul,
ol,
li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #2B292D;
}

.fill-button {
    display: inline-flex;
    /* button(여기선 flex container)를 인라인 요소로서 가로배치 시키고
    안의 text를 가운데 배치하기 위해 선언. */
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 48px;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: -0.05em;
    font-weight: 700;
    border-radius: 2px;
    background-color: #3040C4;
    color: white;
    transition: opacity 250ms ease-in-out;
}

.fill-button:hover {
    opacity: 0.5;
}

.fill-button.inverted {
    background-color: #FFFFFF;
    color: #3040C4;
}

.section {
    padding: 80px 0;
}

.section-category {
    display: block;
    /* strong 태그는 inline 요소이기 때문에 margin-bottom을 주기 위해선 block요소로 변경해 주어야함. */
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
}

.section-title {
    margin-bottom: 24px;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -0.03em;
}

.section-desc {
    margin-bottom: 32px;
}

/* Landing */

.landing {
    background-color:#FDDED8;
    text-align: center;
    /* grid의 col 때문에 요소들은 가운데 정렬이 이미 된 상태임으로
    text만 가운데 정렬해주면 된다. */
}

.landing-content {
    width: 100%;
    height: 100vh;
    /* 아이폰5,SE의 화면 전체를 생각하고 디자인 했기 때문에 패딩으로 width와 height
    값을 정해주지 않고 %와 vh를 사용했다. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*
    text-align 속성으로 가운데 정렬이 끝났기 때문에 
    display: flex;
    flex-direction: column;
    justify-content: center;
    코드들은 지워도 결과는 변하지 않는다.
    */
}

.landing-title {
    color: #2B292D;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.05em;
    margin-bottom: 24px;
}

.landing-desc {
    margin-bottom: 20px;
}

.landing .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .button-group .fill-button:first-child {
    margin-right: 8px;
}

/* testmonials */

.testmonials {
    padding: 80px 0;
    background-color: #F4F5F7;
    text-align: left;
}

.testmonials-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.04em;
    margin-bottom: 16px;
}

.testmonials .col-12:first-child {
    margin-bottom: 40px;
} 

/* Program */

/* .program .row:first-child {
    margin-bottom: 32px;
} */

.program .section-category {
    color: #009B4D;
}

.program .col-md-4 {
    margin-bottom: 20px;
}

.program .col-md-4:last-child {
    margin-bottom: 0;
}

.program-card {
    text-align: center;
    /* strong 태그를 가운데 정렬시킨다.
     text-align 속성은 block요소에만 적용할 수 있으며
     해당 block요소 안의 inline 요소를 가운데 정렬시킨다.*/
    display: block;
    padding: 24px 0 32px;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 
    0px 4px 6px rgba(0, 0, 0, 0.05), 
    inset 0px 1px 0px 
    rgba(255, 255, 255, 0.1);
    transition: background-color 250ms ease-in-out,
    box-shadow 250ms ease-in-out;
}

.program-card:hover {
    background-color: #3141C5;
    box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 
    0px 11px 55px rgba(0, 0, 0, 0.07);
}

.program-card img {
    display: block;
    height: 195px;
    width: auto;
    /* img 태그는 inline 요소이지만 height와 width가 먹음. */
    margin: 0 auto 16px;
    /* block 요소를 가운데 정렬시키는 방법 중 하나 */
    /* 웹사이트의 width가 달라져도 가운데 정렬이 깨지지 않는다는 장점이 있다. */
}

.program-card strong {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    transition: color 250ms ease-in-out;
}

.program-card:hover strong {
    color: #FFF;
}

/* curriculum */

.curriculum .row:first-child {
    margin-bottom: 48px;
}

.curriculum .section-category {
    color: #0189D1;
}

.curriculum-detail-desc {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.01em;
}

.curriculum .row:last-child div:first-child {
    margin-bottom: 40px;
}

.curriculum-image {
    display: none;
}

/* 768px 이상 (Desktop) */

@media screen and (min-width: 768px) {

        /* Reset Css */

    p {
        font-size: 22px;
        line-height: 1.3636363636;
    }

    .section {
        padding: 80px 0 96px;
    }

    .section-category {
        display: block;
        /* strong 태그는 inline 요소이기 때문에 margin-bottom을 주기 위해선 block요소로 변경해 주어야함. */
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 16px;
    }

    .section-title {
        margin-bottom: 32px;
        font-size: 56px;
        line-height: 1;
    }

    /* landing */
    
    .landing-content {
        height: auto;
        padding: 120px 0;
    }

    .landing-title {
        font-size: 70px;
        line-height: 72px;
        letter-spacing: -0.05em;
        margin-bottom: 32px;
    }

    .landing-desc {
        margin-bottom: 32px;
    }

    .fill-button {
        width: 160px;
        height: 56px;
        font-size: 16px;
        line-height: 1.5555555556;
    }

    .landing .button-group .fill-button:first-child {
        margin-right: 16px;
    }
    /* testmonials */

    .testmonials-title {
        font-size: 26px;
        line-height: 34px;
    }

    .testmonials-desc {
        font-size: 22px;
        line-height: 32px;
    }

    .testmonials .col-12:first-child {
        margin-bottom: 0;
    }

    /* program */

    .program {
        text-align: center;
    }

    .program .row:first-child {
        margin-bottom: 72px;
    }

    .program-card img {
        margin-bottom: 24px;
    }

    .program-card strong {
        font-size: 20px;
        line-height: 1.2;
    }

    /* curriculum */

    .curriculum .section-desc {
        margin-bottom: 72px;
    }

    .curriculum-detail-desc {
        font-size: 18px;
        line-height: 26px;
    }

    .curriculum-image {
        display: block;
        /* 모바일에서는 image가 안보이지만 데스크탑에서는 보이게 하기위해 작성한 코드 */
    }

    .curriculum-image img {
        width: 100%;
        max-width: 450px;
        /* 이미지의 폭은 width의 100%를 쓰지만 최대 450px을 넘지 못한다. */
    }

    .curriculum .row:first-child {
        margin-bottom: 24px;
    }

    .curriculum .row:last-child div:first-child {
        margin-bottom: 0;
    }
}

/* Custom Grid System - Fix container width */

@media screen and (min-width: 1200px) {
    .container  {
        max-width: 960px !important;
    }
}
/* 화면이 1200px을 넘어가도 grid container의 width가 960px을 넘지
않도록 하기 위해 입력한 코드 */
