* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 200px;
    height: 200px;
    color: white;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    /* opacity 속성은 요소의 투명도를 조절한다. */
}